[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
flask = "*"
future = "*"
ply = "*"
requests= "*"
python-dateutil = "*"
osm-im = {git = "https://osm.etsi.org/gerrit/osm/IM", ref="v8.0.0"}
osmclient = {git = "https://osm.etsi.org/gerrit/osm/osmclient", ref='v8.0.0'}
